<section class="hero is-primary is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <!-- <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
            <i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size:xx-large"></i>
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to "HOME", home_path, class: "navbar-item is-link" %>
            <%= link_to "GALLERY", gallery_path, class: "navbar-item is-link" %>
            <span class="navbar-item">
              <%= link_to "BOOK", new_appointment_path, class: "button is-link" %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title"> LCW Exteriors </p>
      <p class="subtitle"> For all your professional lighting needs </p>
    </div>
  </div>
</section>
