<h1 class="title mt-6 has-text-centered">Gallery</h1>

<section>
    <div class="container has-text-centered">
      <% Dir[Rails.root.join('app', 'assets', 'images', 'gallery*')].each do |path| %>
        <div>
          <%= image_tag path.split('/').last, :style => 'max-width:80%;' %>
        <div/>
      <% end %>
    </div>
</section>
