<h1 class="title mt-6 has-text-centered">Home</h1>

<section>
    <div class="container has-text-centered">
        <p class="subtitle">Booking is easy - try it today!</p>
        <%= link_to "BOOK", new_appointment_path, class: "button is-link" %>
    </div>
</section>
