<h1 class="title mt-6 has-text-centered">Home</h1>

<section>
    <div class="container">
        <p class="subtitle has-text-centered">Welcome home!</p>
        <%= link_to "BOOK", new_appointment_path, class: "button is-link" %>
    </div>
</section>