<h1 class="title mt-6 has-text-centered">Appointments</h1>

<div class="colums is-desktop">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
  <% end %>
</div>

<button class="button mt-4 is-link is-light is-rounded">
  <%= link_to "New appointment", new_appointment_path %>
</button>
