<h1 class="title mt-6 has-text-centered">Book Appointment</h1>

<section>
  <div class="container has-text-centered">
    <p class="subtitle">Fill out the form and you will recieve an email from us with more details.</p>
    <br>
  </div>
</section>

<%= render "form", appointment: @appointment %>
