<!-- <div class="columns"> -->
<!--   <%= render @appointment %> -->
<!-- </div> -->

<!-- <div class="container has-text-centered"> -->
<!--   <%= link_to "Back to appointments", appointments_path, class: "button is-primary" %> -->
<!-- </div> -->

<h1 class="title mt-6 has-text-centered"><span>&#127881;</span>Booked<span>&#127881;</span></h1>

<section>
    <div class="container has-text-centered">
      <p class="subtitle">
      Congratulations on successfully booking with LCW Exteriors!
      </p>
      <p class="subtitle">
      You will recieve a confirmation email shortly with more detail.
      </p>
      <p class="subtitle">
      Thank you!
      </p>
    </div>
</section>
